body {
   font-family: 
    system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,
    Helvetica,Arial,
    sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
   font-weight:bold;
   font-size:33px;
   line-height: 105%;
   background: #fefae0;
/*  ¨D≠”√C¶‚ßa https://coolors.co/palettes/trending */
}

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Noto Sans TC";
	padding: auto;
}
button {
      background-color: white;
	    text-align: center;
      padding: 20px;
      color:#fff;
      border: 2px solid #008CBA;
}


.btn {
  padding:20px 60px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.btn:hover{
  background-color: #2ecc71;
}

.btn:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

.btn-1 {
  padding:20px 60px;
  outline: none;
  background-color: #ef233c;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.btn-1:hover{
  background-color: #F14458;
}

.btn-1:active {
  background-color: #F14458;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}